<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pravams_giftcard" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Giftcard Configuration</label>
            <tab>pravams</tab>
            <resource>Pravams_Giftcard::pravams_giftcard_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Giftcard Configuration</label>
                <field id="minimum_value" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Minimum Giftcard Price</label>
                    <comment>Minimum Giftcard Price Value</comment>
                </field>
                <field id="maximum_value" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Maximum Giftcard Price</label>
                    <comment>Maximum Giftcard Price Value</comment>
                </field>
            </group>
        </section>
    </system>
</config>