<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pravams_giftcard>
            <general>
                <minimum_value>10</minimum_value>
                <maximum_value>100</maximum_value>
            </general>
        </pravams_giftcard>
    </default>
</config>