<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * Pravams Giftcard Module
 * 
 * @category  Pravams
 * @package   Pravams_Giftcard
 * @copyright Copyright (c) 2018 Pravams. (http://pravams.wordpress.com)
 * @license   http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Controller\Cart\Configure" type="Pravams\Giftcard\Controller\Cart\Configure" />
    <preference for="Magento\Checkout\Controller\Cart\UpdatePost" type="Pravams\Giftcard\Controller\Cart\UpdatePost" />
    <preference for="Magento\Checkout\Controller\Sidebar\UpdateItemQty" type="Pravams\Giftcard\Controller\Sidebar\UpdateItemQty" />
    <preference for="Magento\Catalog\Block\Product\View" type="Pravams\Giftcard\Block\Catalog\Product\View" />
    <preference for="Magento\Catalog\Pricing\Render\FinalPriceBox" type="Pravams\Giftcard\Pricing\Render\FinalPriceBox" />
    <preference for="Magento\Catalog\Model\Product" type="Pravams\Giftcard\Model\Catalog\Product" />
    <preference for="Magento\Checkout\Model\Cart" type="Pravams\Giftcard\Model\Checkout\Cart"/>
    <preference for="Magento\Sales\Block\Order\Totals" type="Pravams\Giftcard\Block\Sales\Order\Totals" />
    <preference for="Magento\Sales\Block\Order\Invoice\Totals" type="Pravams\Giftcard\Block\Sales\Order\Invoice\Totals" />
    <preference for="Magento\Sales\Block\Order\Creditmemo\Totals" type="Pravams\Giftcard\Block\Sales\Order\Creditmemo\Totals" />
    <preference for="Magento\Sales\Model\Service\InvoiceService" type="Pravams\Giftcard\Model\Sales\Service\InvoiceService"/>
    <preference for="Magento\Sales\Block\Adminhtml\Order\Invoice\Totals" type="Pravams\Giftcard\Block\Adminhtml\Order\Invoice\Totals" />
    <preference for="Magento\Sales\Block\Adminhtml\Order\Creditmemo\Totals" type="Pravams\Giftcard\Block\Adminhtml\Order\Creditmemo\Totals" />
    <preference for="Magento\Sales\Model\Order\CreditmemoFactory" type="Pravams\Giftcard\Model\Sales\Order\CreditmemoFactory"/>
    <preference for="Magento\Sales\Model\Order\Pdf\Invoice" type="Pravams\Giftcard\Model\Sales\Order\Pdf\Invoice" />
    <preference for="Magento\Sales\Model\Order\Pdf\Creditmemo" type="Pravams\Giftcard\Model\Sales\Order\Pdf\Creditmemo" />
</config>