<?xml version="1.0"?>
<!-- 
/**
 * Pravams Chat Module
 * 
 * @category Pravams
 * @package Pravams_Chat
 * @copyright Copyright (c) 2023 Pravams. (http://www.pravams.com)
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:app/etc/routes.xml">
    <router id="admin">
        <route id="pravams_chat" frontName="pravams_chat">
            <module name="Pravams_Chat"/>
        </route>
    </router>
</config>