<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="reservation_update_item_predispatch_observer" instance="Pravams\Reservation\Observer\PreDispatch"/>
    </event>
    <event name="sales_order_place_after">
        <observer name="pravams_reservaton_sales_order_save_after" instance="Pravams\Reservation\Observer\Reservation"/>
    </event>    
</config>