<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <reward>
            <reward_points_configuration>
                <reward_point_to_currency>10</reward_point_to_currency>
                <reward_registration_status>1</reward_registration_status>
                <reward_registration_points>10</reward_registration_points>
                <reward_newsletter_status>1</reward_newsletter_status>
                <reward_newsletter_points>10</reward_newsletter_points>
                <reward_purchase_status>1</reward_purchase_status>
                <reward_purchase_points>20</reward_purchase_points>
                <reward_reviews_status>1</reward_reviews_status>
                <reward_reviews_points>10</reward_reviews_points>
                <reward_wishlist_share_status>1</reward_wishlist_share_status>
                <reward_wishlist_share_points>10</reward_wishlist_share_points>
            </reward_points_configuration>
        </reward>
    </default>
</config>
