<!--@subject {{trans "Congratulations! You have received a Giftcard from %customer_name" customer_name=$customerName}} @-->

{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">Hello {{trans "%receiver_name" receiver_name=$receiverName|raw}}!</p>
            <p>
                {{trans 'Please use this giftcard code to shop the products you love from this <a href="%account_url">website</a>.' account_url=$accountUrl |raw}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h3>{{trans 'Giftcard Code is <span class="no-link">%giftcard_code</span>' giftcard_code=$giftcardCode |raw}}</h3>
            <h3>{{trans 'Giftcard Value is <span class="no-link">%giftcard_value</span>' giftcard_value=$giftcardValue |raw}}</h3>
            <br /><br />
            <p>
                {{trans 'You have received this gift from <span class="no-link">%customer_name</span> with this message: ' customer_name=$customerName |raw}}
                {{trans "%message" message=$receiverMessage |raw}}
            </p>

        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="email-items">
                <tbody>
                <tr>
                    <td>
                        Thanks and Regards,<br />
                        {{trans "%customer_support" customer_support=$customerSupport |raw}}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}